* {
	box-sizing: border-box;
}

body{
	font-family: Helvetica, Arial, sans-serif;
}

h1 {
	font-size: 300px;
	text-align: center;
	color: #333;
	font-size: 12vw;
}

.committee{
	background: #BE90D4;
	margin-bottom: 10px;
	padding: 20px;
}

h3{
	padding-top: 20px;
}
